{% extends "orders/base.html" %}

{% block body %}
<body id="register" style="background-image:url(/static/orders/pizza2.jpg); background-repeat: no-repeat; background-size: cover;">


<div class="container" style="background-color:white; opacity:90%;">

<div class="row">
  <div class="col">
    <h2>Register Here!</h2>
  </div>
</div>


<form method="POST" action="{% url 'register' %}">
  {% csrf_token %}

  {{ form.as_p }}

<button type="submit" class="registerbtn">Register</button>
    <p>Already have an account? <a href="/login/">Login</a>.</p>
</form>
</div>
</body>
{% endblock %}
