
{% extends "orders/base.html" %}

{% load crispy_forms_tags %}

{% block body %}

<body id="login" style="background-image:url(/static/orders/pizza2.jpg); background-repeat:no-repeat; background-size: cover;">


<div class="container" style="opacity:90%;">
  <div class="row">
    <div class="col">
      <h3>You're So Close to Some Delicious Pizza!</h3>
    </div>
  </div>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label>Username</label>
      <input type="username" name="username" class="form-control" placeholder="Enter Your Username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember Me (doesn't work rn)</label>
    </div> -->
    <button type="submit" class="btn btn-primary" value="login">Login</button>

  </form>

  <p style="margin-top: 20px">Don't have an account? Register <a href="/register/">here</a>!</p>

 <p style="color: green">{{message}}</p>

</div>
</body>

{% endblock %}
